/* DragResizableBox 组件样式 */
.line {
  position: absolute;
  z-index: 99999;
}

.resizable_box {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid transparent;
  z-index: 1;
  cursor: move;
  box-shadow:
    0 0 0 99999px rgba(0, 0, 0, 0.3),
    /* 上方阴影 */
    0 0 0 99999px rgba(0, 0, 0, 0.3);
  /* 外围大面积阴影 */
  background-color: transparent;
}

.resize-tip {
  position: absolute;
  top: -30px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0 8px;
  line-height: 26px;
  height: 26px;
  border-radius: 13px;
  font-size: 12px;
  white-space: nowrap;
  user-select: none;
  cursor: default;
}

.resizable_box.checked {
  border: 1px solid #667eea;
}

.resizable_box .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: move;
}

/* 调整手柄样式 */
.resizable_box .rect {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #667eea;
  background-color: white;
  z-index: 10;
}

/* 左上角 */
.resizable_box .rect.rect_left_top {
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  cursor: nwse-resize;
}

/* 左下角 */
.resizable_box .rect.rect_left_bottom {
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  cursor: nesw-resize;
}

/* 右上角 */
.resizable_box .rect.rect_right_top {
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  cursor: nesw-resize;
}

/* 右下角 */
.resizable_box .rect.rect_right_bottom {
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  cursor: nwse-resize;
}

/* 上边中点 */
.resizable_box .rect.rect_top {
  right: 50%;
  top: 0;
  cursor: ns-resize;
  transform: translate(50%, -50%);
}

/* 右边中点 */
.resizable_box .rect.rect_right {
  right: 0;
  top: 50%;
  cursor: ew-resize;
  transform: translate(50%, -50%);
}

/* 下边中点 */
.resizable_box .rect.rect_bottom {
  left: 50%;
  bottom: 0;
  cursor: ns-resize;
  transform: translate(-50%, 50%);
}

/* 左边中点 */
.resizable_box .rect.rect_left {
  left: 0;
  top: 50%;
  cursor: ew-resize;
  transform: translate(-50%, -50%);
}

/* 隐藏未选中状态的调整手柄 */
.resizable_box:not(.checked) .rect {
  display: none;
}