@font-face {
  font-family: "iconfont"; /* Project id 4971107 */
  src: url('iconfont.woff2?t=1752136279868') format('woff2'),
       url('iconfont.woff?t=1752136279868') format('woff'),
       url('iconfont.ttf?t=1752136279868') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangkuang:before {
  content: "\e629";
}

.icon-xingzhuang-wenzi:before {
  content: "\eb99";
}

.icon-jiantou_youshang_o:before {
  content: "\eb94";
}

.icon-duigoux:before {
  content: "\ec9e";
}

.icon-xiazai:before {
  content: "\e682";
}

.icon-cuo:before {
  content: "\e6e5";
}

.icon-maobi:before {
  content: "\e69f";
}

.icon-bianqian:before {
  content: "\e64f";
}

.icon-xuankuang:before {
  content: "\e667";
}

.icon-chexiao:before {
  content: "\e65d";
}

.icon-masaike:before {
  content: "\e688";
}

